<div id="app">
  {{ message }}

  <div id="code">
    <textarea rows="10" cols="50" v-model="code">
    </textarea>

    <button v-on:click="analyzeCode()">Analyze Code</button>
  </div>
  <div id="result">
    <p>Number Of Steps: {{ results }}</p>
  </div>

  <line-chart :chart-data="chartData" :options="options"></line-chart>
</div>