<div id="app">
  {{ message }}

  <div id="code">
    <div class="text-container">
      <div class="text-area-div">
      <textarea v-for="(code, index) in codesArray" rows="10" cols="50" v-model="codesArray[index]">{{ code }}</textarea>
      </div>
      <div>
        <i class="material-icons" v-on:click="addTextArea()">add</i>
        <br>
        <i v-on:click="analyzeCode()" class="material-icons">settings</i>
      </div>
    </div>


      
  </div>
  <div id="result">
    <p>Number Of Steps: {{ results }}</p>
  </div>

  <line-chart :chart-data="chartData" :options="options" width="1000"></line-chart>
</div>